@import "../../assets/scss/main.scss";

.loading-box {
  width: 30rem;
  height: 4rem;
  margin: 1rem 0;
  border: transparent;
  border-radius: 0.7rem;
  background-color: #e2e5e7;
  position: relative;
}

.loading-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
  border-radius: 0.7rem;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}
